<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'home_title' %}</title>
</head>
<body>
    <h1>{% trans 'home_header' %}</h1>

    {% if g.user %}
        <p>{% trans 'logged_in_as' username=g.user.name %}</p>
    {% else %}
        <p>{% trans 'not_logged_in' %}</p>
    {% endif %}

    <p>{% trans 'current_time_is' current_time=current_time %}</p>
</body>
</html>
